<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="userForm" class="form-container row">
        <h2 class="text-center">User Information</h2>
        <div class="form-group col-4">
          <label for="firstName">First Name:</label>
          <input
            id="firstName"
            formControlName="firstName"
            type="text"
            placeholder="Enter your first name"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('firstName')?.invalid &&
              userForm.get('firstName')?.touched
            "
          >
            First Name is required.
          </div>
        </div>

        <div class="form-group col-4">
          <label for="lastName">Last Name:</label>
          <input
            id="lastName"
            formControlName="lastName"
            type="text"
            placeholder="Enter your last name"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('lastName')?.invalid &&
              userForm.get('lastName')?.touched
            "
          >
            Last Name is required.
          </div>
        </div>

        <div class="form-group col-4">
          <label for="address1">Address 1:</label>
          <input
            id="address1"
            formControlName="address1"
            type="text"
            placeholder="Enter your address"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('address1')?.invalid &&
              userForm.get('address1')?.touched
            "
          >
            Address 1 is required.
          </div>
        </div>

        <div class="form-group col-4">
          <label for="address2">Address 2:</label>
          <input
            id="address2"
            formControlName="address2"
            type="text"
            placeholder="Enter your address"
            class="form-control"
          />
        </div>

        <div class="form-group col-4">
          <label for="city">City:</label>
          <input
            id="city"
            formControlName="city"
            type="text"
            placeholder="Enter your city"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('city')?.invalid && userForm.get('city')?.touched
            "
          >
            City is required.
          </div>
        </div>

        <div class="form-group col-4">
          <label for="state">State:</label>
          <input
            id="state"
            formControlName="state"
            type="text"
            placeholder="Enter your state"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('state')?.invalid && userForm.get('state')?.touched
            "
          >
            State is required.
          </div>
        </div>

        <div class="form-group col-4">
          <label for="pincode">Pincode:</label>
          <input
            id="pincode"
            formControlName="pincode"
            type="text"
            placeholder="Enter your pincode"
            class="form-control"
          />
          <div
            class="error"
            *ngIf="
              userForm.get('pincode')?.invalid &&
              userForm.get('pincode')?.touched
            "
          >
            Pincode is required and must be a 6-digit number.
          </div>
        </div>

        <!-- Children Form Section -->
        <div class="form-group row">
          <h3 class="text-center">Member</h3>
          <div formArrayName="children">
            <div
              *ngFor="let child of children.controls; let i = index"
              [formGroupName]="i"
              class="child-form row"
            >
              <div class="col-3">
                <label for="childName-{{ i }}">Member Name:</label>
                <input
                  id="childName-{{ i }}"
                  formControlName="mname"
                  type="text"
                  placeholder="Enter Member Name"
                  class="form-control"
                />
                <div
                  class="error"
                  *ngIf="
                    child.get('mname')?.invalid && child.get('mname')?.touched
                  "
                >
                  Member Name is required.
                </div>
              </div>

              <div class="col-3">
                <label for="dob-{{ i }}">DOB</label>
                <input
                  id="dob-{{ i }}"
                  formControlName="dob"
                  type="date"
                  placeholder="Enter DOB"
                  class="form-control"
                />
                <div
                  class="error"
                  *ngIf="child.get('dob')?.invalid && child.get('dob')?.touched"
                >
                  DOB is required.
                </div>
              </div>

              <div class="col-3">
                <label for="age-{{ i }}">Age:</label>
                <input
                  id="age-{{ i }}"
                  formControlName="age"
                  type="text"
                  placeholder="Enter Age"
                  class="form-control"
                  [disabled]="true"
                />
              </div>

              <div class="col-3">
                <label for="work-{{ i }}">Occupation:</label>
                <input
                  id="work-{{ i }}"
                  formControlName="work"
                  type="text"
                  placeholder="Enter Occupation"
                  class="form-control"
                />
                <div
                  class="error"
                  *ngIf="
                    child.get('work')?.invalid && child.get('work')?.touched
                  "
                >
                  Occupation is required.
                </div>
              </div>

              <button
                type="button"
                (click)="removeChild(i)"
                *ngIf="i >= 2"
                class="btn btn-danger btn-sm mt-2 col-2"
              >
                Remove Child
              </button>
            </div>
          </div>

          <button
            type="button"
            (click)="addChild()"
            class="btn btn-primary mt-3 col-2"
            *ngIf="children.length < 5"
          >
            Add
          </button>
        </div>

        <button
          (click)="onSubmit()"
          type="submit"
          [disabled]="userForm.invalid"
          class="btn send-btn btn-block mt-4 col-2"
        >
          Submit
        </button>
      </form>

      <div *ngIf="userData.length > 0" class="user-data">
        <h2 class="text-center">User Information</h2>
        <ng-container *ngFor="let userData of userData">
          <div class="container">
            <div class="container">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>Show</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ userData.firstName }}</td>
                    <td>{{ userData.lastName }}</td>
                    <td>{{ userData.address1 }}</td>
                    <td>{{ userData.address2 }}</td>
                    <td>{{ userData.city }}</td>
                    <td>{{ userData.state }}</td>
                    <td>{{ userData.pincode }}</td>
                    <td>
                      <button (click)="toggleView()" class="btn btn-primary">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="text-center"></div>
            <div *ngIf="isViewVisible" class="row mt-3 mb-5">
              <h3>Members</h3>
              <div *ngFor="let child of userData.children; let i = index">
                <div class="child-info row mb-3">
                  <div class="col-3">
                    <strong>Member Name:</strong> {{ child.mname }}<br />
                  </div>
                  <div class="col-3">
                    <strong>DOB:</strong> {{ child.dob }}<br />
                  </div>

                  <div class="col-3">
                    <strong>Age:</strong> {{ child.age }}<br />
                  </div>
                  <div class="col-3">
                    <strong>Occupation:</strong> {{ child.work }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
